/* NAVBAR */

nav form {
  width: 100%;
}

.navbar-brand img {
  width: 70px;
}

.navbar-collapse {
  flex-basis: 0;
}

ul.navbar-nav {
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

ul.navbar-nav li {
  margin: 0.7rem;
}

.navbar i.fa-bell {
  color: #ff8f00;
}

/* SIDEBAR */

#sidebar {
  width: 100px;
  height: 100vh;
  background-color: #061e34;
}

#sidebar i {
  margin: 1.5rem;
}

/* HEADER */

#header {
  width: calc(100vw - 100px);
  height: 250px;
  background-color: #1c71e8;
}

/* MENU */

#menu {
  width: calc(100vw - 100px);
  height: calc(100vh - 250px);
}

td img {
  width: 25px;
}
